.form-style{
    margin-top: 25px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.selection-div{
    padding-bottom:10px;
   
}

.form-style select{
    border-radius: 5px;
    padding: 0 10px;
    height: 25px;
    border:1px solid rgb(245,199,26);
}


.form-style label{
    font-weight: 600;
    color: rgb(245,199,26);
    font-size: 1.2rem;
    
}
.form-style input{
    /* margin-bottom: 15px; */
    border-radius: 5px;
    padding: 0 10px;
    height: 25px;
    border:1px solid rgb(245,199,26);
}
.submit-btn{
   background-color: rgb(245,199,26);
   border:1px solid rgb(245,199,26);
   color: rgb(75, 73, 73);
   border-radius: 7px;
   padding: 5px;
   height: 25px;
   width:75%;
   margin-top:20px;
}

.submit-btn:hover{
    background-color: black;
    border:1px solid black;
}