.employee-list{
    display: flex;
    margin-bottom: 10px;
}

.employee-list li{
    color:rgb(233, 211, 15);
    padding: 5px;
    border-radius: 10px;
    box-shadow: black 0px 5px 15px;
    margin-bottom: 10px;
    background-color: black;
}