.employee-style{
    padding: 10px;
}
ul  {
    list-style: square;
}
.pagination button{
    margin-right: 10px;
    background-color: white;
    border: 1px solid orange;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    background-color:orange ;
    color: white;
}

.pagination button:hover{
    background-color: black;
    border: 1px solid black;
}

/* React-paginate package */
.pagination{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}
.pagination a{
    padding: 10px;
    border:1px solid white;
    border-radius: 5px;
    background-color:rgba(6, 94, 72, 0.808) ;
    color:white;
}

.pagination_Link{
    font-weight: bold;
}
.pagination_Link-active a{
    color: white;
    background-color: black;
}

.pagination_Link-disabled a{
    color:black;
    background-color: rgb(150, 148, 148);
}